body {
  font-family: sans-serif;
}

#assignment-instructions {
  font-family: sans-serif;
  color: blue;
}
.highlighted-code {
  color: green;
}
/* [id] {
  font-family: sans-serif;
  color: red;
} */

code {
  font-family: monospace;
  color: red;
}

/* li ~ li {
  background-color: black;
  color: white;
} */
li + li {
  background-color: black;
  color: white;
}

/* ol > li {
  background-color: black;
  color: white;
} */
ol li {
  background-color: black;
  color: white;
}
